body {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.bg-color-pink {
  background-color: pink;
}
.bg-color-aqua {
  background-color: aqua;
}
.bg-color-deepskyblue {
  background-color: deepskyblue;
}

.p-12 {
  padding: 12px;
}

.radius-12 {
  border-radius: 12px;
}

.ml-12 {
  margin-left: 12px;
}
